# The MySQL server has many operating parameters,in the form of system variable, server options and status variables
# Installation came with default configuration, and my.cnf gives user set options.
# A full list of options can be found here:
# https://dev.mysql.com/doc/refman/8.0/en/server-option-variable-reference.html
# Use options valid in configuration files (Option file) in my.cnf
#
# Options below are settings for initial mysql install
# Different servers may have different options, these are in group_vars or host_vars, such as server_id, ports, and memory settings
# Replication related options are added by replication roles in repl setup
#
# Yum repo install mysql 8 with a my.cnf with default setting for datadir, socket, log_error, pid_file
# Our changes in addition to these are marked after #========= marks
#==============================================================================
# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/8.0/en/server-configuration-defaults.html

[mysqld]
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M

# Remove the leading "# " to disable binary logging
# Binary logging captures changes between backups and is enabled by
# default. It's default setting is log_bin=binlog
# disable_log_bin

# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M

# Remove leading # to revert to previous value for default_authentication_plugin,
# this will increase compatibility with older clients. For background, see:
# https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_default_authentication_plugin
default-authentication-plugin=mysql_native_password

datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
#===============================================================================

[client]
port = {{ mrd_ports.mysql }}
max_allowed_packet = {{ mysqlclient_max_allowed_packet }}

[mysqld]
# Connection settings-------------------------
port = {{ mrd_ports.mysql }}
bind-address = {{ mysql_bind_address }}
skip-name-resolve = {{ mysql_skip_name_resolve }}
symbolic-links = {{ mysql_symbolic_links }}

wait_timeout = {{ mysql_wait_timeout }}
connect_timeout= {{ mysql_connect_timeout }}
interactive_timeout= {{mysql_interactive_timeout}}
max_connect_errors = {{ mysql_max_connect_errors }}

# Memory settings---------------------------
key_buffer_size = {{ mysql_key_buffer_size }}
max_allowed_packet = {{ mysql_max_allowed_packet }}
max_connections = {{ mysql_max_connections }}
tmp_table_size = {{ mysql_tmp_table_size }}
max_heap_table_size = {{ mysql_max_heap_table_size }}
table_open_cache = {{ mysql_table_open_cache }}
thread_cache_size = {{ mysql_thread_cache_size }}
read_buffer_size = {{ mysql_read_buffer_size }}
read_rnd_buffer_size = {{ mysql_read_rnd_buffer_size }}
sort_buffer_size = {{ mysql_sort_buffer_size }}
join_buffer_size = {{ mysql_join_buffer_size }}
group_concat_max_len = {{ mysql_group_concat_max_len }}
myisam_sort_buffer_size = {{ mysql_myisam_sort_buffer_size }}

# InnoDB settings--------------------
innodb_flush_method = {{ mysql_innodb_flush_method }}
innodb_buffer_pool_size = {{ mysql_innodb_buffer_pool_size }}
innodb_buffer_pool_instances = {{ mysql_innodb_buffer_pool_instances }}
innodb_log_file_size = {{ mysql_innodb_log_file_size }}
innodb_log_buffer_size = {{ mysql_innodb_log_buffer_size }}

# Log settings------------------------------------------------------------
# The following variables have a default value in yum repo install of centos7
# mysql_log_error: /var/log/mysql/mysql.err
# mysql_syslog_tag: mysql
# mysql_slow_query_log_file: /var/log/mysql-slow.log
slow-query-log = {{ mysql_slow_query_log }}
long_query_time = {{ mysql_long_query_time }}

# Other settings-------------------------------------
lower_case_table_names = {{ mysql_lower_case_table_names }}
event-scheduler = {{ mysql_event_scheduler }}
# sysdate-is-now option to cause SYSDATE() to be an alias for NOW(). This works if the option is used on both the master and the slave.
sysdate-is-now

[mysqldump]
quick
compress
set-gtid-purged=OFF
max_allowed_packet= {{mysqldump_max_allowed_packet}}

# Files in mysql_config_include_dir can override settings from this file!
# yum repo install creates default include directory at /etc/my.cnf.d
# Replication related configurations, put in repl-my.cnf.j2 and templates to /etc/my.cnf.d at replication setup
